{% extends "template.html" %}
{% block content %}
<!-- <div class="jumbotron mb-0 pt"> -->
<div class="jumbotron bg-white">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="display-4">Welcome to <span class="text-info">Reconnect</span></h1>
    <p class="lead">An interactive feedback platform that helps individuals with impaired hearing to practice speaking and reconnect with communities and reintegrate into the society</p>
    <hr class="my-4">
    <p>Reconnect is a website that uses speech recognition and analysis to teach people with hearing impairments to talk by giving them feedback on which words they have mispronounced, when they talked too loud/quiet, and when the breaks between the words were too long</p>

    <a href="{{ url_for('learn') }}" class="btn btn-info">Get started!</a>
  </div>
  </div>
  <div class="col-md-2"></div>

</div>

{% endblock content %}
